{{define "footer"}}

<br/>
<p>Made with &hearts; by <a href="https://noqqe.de">noqqe</a> using <a
href="https://golang.org">golang</a>, <a
href="https://scryfall.com">scryfall</a> and <a
href="https://milligram.io/">milligram</a></p>
<br/>
</div>
</body>
</html>
{{end}}
