{{ template "header" . }}

  <div class="maincontainer">
  <h3>About</h3>
  <p>Visualize how much of Magic's history you own</p>
  <p>Upload your collection in CSV format and get the result like this: <a href="/history/e26f60f502f111cc7dd2bbca6674d7f8">my collection</a>.</p>
  <br/>
  </div>

  <div class="maincontainer">
  <h3>Upload your collection</h3>
  <form action="/upload" enctype="multipart/form-data" method="POST">
  <fieldset>
    <label for="format">Format</label>
    <select id="format" name="format">
      <option value="moxfield">Moxfield</option>
      <option value="manabox">Manabox</option>
    </select>

    <label for="fileField">File</label>
    <label for="fileField" class="button input-file">
      File
    </label>
    <input type="file" id="fileField" name="file" class="button-outline input-file" accept=".csv" />
    <br/>

    <label for="submitField">Submit</label>
    <input class="button-primary" id="submitField" type="submit" value="Go">
    <fieldset>
  </form>
  </div>

  <div class="maincontainer">
  <h3>What cards?</h3>
  <p>The scryfall filter used to generate a list of all cards is:</p>
  <pre><code>
(st:masters or st:core or st:expansion) 
-set:plst lang:en unique:prints game:paper
  </code></pre>
  </div>

  <div class="maincontainer">
  <h3>Thank you</h3>
  <p>to scryfall.com and its community &hearts;<p>

  </div>

{{ template "footer" . }}
